@viewport {
    width: device-width;
    zoom: 1.0 ;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    display: grid;
    font-family: 'Red Hat Text', sans-serif;
}

.loginContainer {
    border-radius: 4px;
    display: block;
    height: 350px;
    width: 400px;
    background-color: rgb(54, 57, 63);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1.5px 5px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    padding-left: 10px;
    padding-right: 10px;
}

.loginHead {
    color: rgb(255,255,255);
    font-size: 20px;
}

.loginSubhead {
    color: rgb(114, 118, 125);
    font-size: 14px;
}

.loginLabel {
    text-align: left;
    color: rgb(149, 150, 151);
    font-size: 11px;
    padding-left: 10%;
    padding-bottom: 0;
    margin: 0, 0;
    font-weight: bolder;
    padding-top: 20px;
}

.loginButton {
    width: 80%;
    height: 32px;
    border-radius: 4px;
    background-color: rgb(112, 130, 196);
    text-align: center;
    margin: 40px;
    padding: 0;
    border: none;
    color: rgb(255, 255, 255);
    padding-top: 2px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: rgb(100, 121, 197);
}

.loginHead:hover, .loginSubhead:hover, .loginLabel:hover {
    cursor: default;
}

.loginHead::selection, .loginSubhead::selection, .loginButton::selection, .loginLabel::selection {
    background: none;
}

.tokenInput {
    margin: 0, 0;
    width: 80%;
    height: 32px;
    border-radius: 4px;
    background-color: rgb(49, 51, 57);
    border: 1px solid rgb(37, 37, 37);
    padding-left: 2px;
    box-sizing: border-box;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Red Hat Text', sans-serif;
}

.tokenInput:hover {
    border: 1px solid rgb(0,0,0);
}

.tokenInput:focus {
    border: 1px solid rgb(112, 130, 196);
    outline: none;
}

.contextmenu {
    display: none;
    position: fixed;
    border-radius: 5px;
    background-color: rgb(32, 34, 37);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    z-index: 98;
    width: 120px;
    padding: 6px;
}

.contextmenu .button {
    height: 25px;
    width: 105px;
    border-radius: 5px;
    color: rgb(170, 173, 179);
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 7px;
    cursor: pointer;
}

.contextmenu .button:hover {
    background-color: rgb(100, 121, 197);
    color: rgb(255,255,255);
}

.contextmenu .button::selection {
    background: none;
}

.alertbox {
    display: none;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgb(32, 34, 37);
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    z-index: 99;
}

.alertbox .alerttitle {
    font-weight: bolder;
    font-size: 16px;
    color: rgb(255,255,255);
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.alertbox .alertmsg {
    font-weight: normal;
    font-size: 12px;
    color: rgb(255,255,255);
    margin-bottom: 15px;
}

.alertbox .alertclose {
    font-size: 12px;
    margin-bottom: 10px;
    height: 25px;
    width: 34px;
    border-radius: 4px;
    background-color: rgb(112, 130, 196);
    text-align: center;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    padding-left: 8px;
    padding-right: 10px;
    cursor: pointer;
}

.alertbox .alertclose:hover {
    background-color: rgb(100, 121, 197);
}

@media screen and (max-width: 500px) {
    .loginContainer {
        height: 270px;
        width: 300px;
    }
    .loginButton {
        margin: 20px;
    }
}

/* ˅˅˅ From https://loading.io/css/ ˅˅˅ */
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 3px;
    width: 6px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 3px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 12px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 21px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 3px;
      height: 24px;
    }
    50%, 100% {
      top: 9px;
      height: 12px;
    }
  }
  
/* ^^^ From https://loading.io/css/ ^^^ */
