@viewport {
    width: device-width;
    zoom: 1.0;
}

@font-face {
    font-family: Noto;
    src: local("Noto Emoji"), local("Noto Color Emoji"), local("Noto"), 
    url("https://cdn.rawgit.com/googlei18n/noto-emoji/master/fonts/NotoEmoji-Regular.ttf");
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Red Hat Text', 'Noto Color Emoji', 'Noto Emoji', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: rgb(32, 34, 37); 
}

::-webkit-scrollbar-corner {
    background: rgb(54, 57, 63);
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.sidenav {
    height: 100%;
    width: 72px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(32, 34, 37);
    text-align: center;
    padding-top: 10px;
    float: left;
    z-index: 2;
    overflow-x: hidden;
}

.sidenav .server {
    height: 48px;
    width: 48px;
    text-align: center;
    margin: auto;
    background-color: rgb(54, 57, 63);
    border-radius: 100%;
    vertical-align: middle;
    margin-bottom: 10px;
    position: relative;
    transition: linear 0.2s;
    margin-left: 12px;
}

.server .selector {
    height: 18px;
    width: 0px;
    position: relative;
    margin-top: 15px;
    left: -10px;
}

.sidenav .server:hover {
    background-color: rgb(114, 137, 218);
    border-radius: 35%;
    cursor: pointer;
}

.sidenav .server:hover > .selector {
    border-right: 4px solid rgb(255,255,255);
    height: 18px;
    width: 1px;
    position: relative;
    left: -12px;
    top: 17px;
    border-radius: 20%;
    margin-top: 15px;
    transition: linear 0.2s;
}

.sidenav .server.selected {
    background-color: rgb(114, 137, 218);
    border-radius: 35%;
    transition: linear 0.2s;
}

.sidenav .server.selected > img {
    border-radius: 35%;
    position: relative;
    top: -40px;
}

.sidenav .server.selected > .selector {
    border-right: 4px solid rgb(255,255,255);
    height: 40px;
    width: 1px;
    position: relative;
    left: -12px;
    top: 3px;
    border-radius: 20%;
    transition: linear 0.2s;
}

.sidenav p {
    color: rgb(255, 255, 255);
    padding-top: 33%;
    font-size: 12px;
    font-weight: bolder;
    position: relative;
    top: -29px;
}

.server img {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    pointer-events: none;
    transition: linear 0.2s;
    position: relative;
    top: -17px;
}

.sidenav .server:hover > img {
    border-radius: 35%;
}

.sidenav p::selection, .sidenav a::selection, .sidenav::selection, .sidenav div::selection, .sidenav img::selection {
    background: none;
}

.sidenav i {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-top: 20%;
    position: relative;
    top: -17px;
}

.sidenav .server.selected > i {
    position: relative;
    top: -40px;
}

.sidenav .server.selected > p {
    position: relative;
    top: -51px;
}

.sidenav .spacer {
    width: 50%;
    height: 0%;
    border-bottom: 3px solid rgb(65, 65, 68);
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 19px;
}

.tooltip-text {
    display: none;
}

.tooltip {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 99 !important;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 550;
    display: none;
}

.tooltip .tooltipNick {
    display: block;
    font-size: 9px;
    color: rgb(202, 207, 203);
    margin: 0;
}

.tooltip .tooltipUser {
    display: inline;
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin: 0;
}

.tooltip .tooltipDiscrim {
    display: inline;
    font-size: 12px;
    color: rgb(157, 165, 159);
    margin: 0;
}

.actionbar {
    height: 100%;
    width: 240px;
    background-color: rgb(47, 49, 54);
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 72px;
    z-index: 1;
}

.main {
    height: 100%;
    width: 100%;
    margin-left: 311px;
    position: fixed;
    float: left;
    top: 0;
    background-color: rgb(54, 57, 63);
}

.user {
    width: 240px;
    height: 53px;
    position: fixed;
    bottom: 0;
    background-color: rgb(41, 43, 47);
}

.user .avatar {
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 10px;
    display: inline-block;
    pointer-events: none;
}

.user img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.user p {
    margin: 0;
    color: rgb(255, 255, 255);
}

.user .username {
    display: inline-block;
    transform: translateY(-3px);
}

.user .name {
    font-size: 12px;
    font-weight: bolder;
    text-overflow: ellipsis;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
}

.user .discriminator {
    font-size: 9px;
    font-weight: lighter;
}

.user .fa-sign-out-alt {
    height: 20px;
    width: 20px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(185, 187, 190);
    position: fixed;
    left: 275px;
    bottom: 16.5px;
}

.user .fa-sign-out-alt:hover {
    color: rgb(125, 127, 131);
}

.user img::selection, .user::selection, .user div::selection{
    background: none;
}

.infobar {
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    background-color: rgb(54, 57, 63);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.infobar .fa-hashtag, .infobar .fa-at {
    height: 23px;
    width: 23px;
    font-size: 23px;
    color: rgb(114, 118, 125);
    display: inline-block;
    margin-left: 20px;
    margin-top: 12.5px;
    margin-right: 4px;
}

.infobar .chantitle {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    transform: translateY(-2px);
    width: calc(100% - 400px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actioninfo {
    width: 240px;
    height: 48px;
    position: fixed;
    top: 0;
    background-color: rgb(47, 49, 54);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.4);
}

.actioninfo p {
    font-weight: bold;
    font-size: 12px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 18px;
    pointer-events: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}

.actioninfo p::selection, .actioninfo::selection, .actionbar::selection {
    background: none;
}

.mainbox {
    width: 100%;
    height: 100%;
    margin-top: 49px;
    display: inline-block;
}

.memberbar {
    width: 240px;
    height: calc(100% - 48px);
    background-color: rgb(47, 49, 54);
    display: inline-block;
    position: fixed;
    right: 0;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.memberbar .role {
    margin-bottom: 10px;
}

.actionbar .chancontainer {
    margin-top: 48px;
    margin-bottom: 53px;
    position: fixed;
    top: 0;
    height: calc(100% - 111px);
    width: 230px;
    padding-top: 10px;
    padding-left: 10px;
    overflow-x: hidden;
}

.actionbar .chan {
    background-color: rgb(47, 49, 54);
    width: 200px;
    height: 20px;
    margin-top: 4px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.actionbar .chan:hover {
    background-color: rgb(57, 60, 66);
}

.actionbar .dmuser {
    width: 220px;
    height: 40px;
    margin-top: 10px;
    overflow: hidden;
    background-color: rgb(47, 49, 54);
    border-radius: 4px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.actionbar .dmuser:hover {
    background-color: rgb(51, 54, 60);
}

.actionbar .dmuser:hover > .dmusername {
    color: rgb(255, 255, 255);
}

.actionbar .dmuser.selected {
    background-color: rgb(51, 54, 60);
}

.actionbar .dmuser.selected > .dmusername {
    color: rgb(255, 255, 255);
}

.actionbar .dmavatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: inline-block;
    margin-top: 4px;
    margin-right: 7px;
    margin-left: 4px;
    pointer-events: none;
}

.actionbar .dmusername {
    display: inline-block;
    font-size: 15px;
    margin: 0;
    width: 150px;
    transform: translateY(-10px);
    color: rgb(126, 129, 134);
    font-weight: 500;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.actionbar .dmusername::selection, .actionbar .dmavatar::selection, .actionbar .dmuser::selection {
    background: none;
}

.chan .fa-hashtag {
    color: rgb(114, 118, 125);
    display: inline-block;
}

.chan .channame {
    color: rgb(114, 118, 125);
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    max-width: 180px;
    display: inline-block;
    padding-left: 4px;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.chancontainer .chan.selected {
    background-color: rgb(57, 60, 66);
    cursor: default;
}

.actionbar .chan:hover > .channame {
    color: rgb(218, 218, 218);
}

.chancontainer .chan.selected > .channame {
    color: rgb(255, 255, 255);
}

.chan .channame::selection, .chan .fa-hashtag::selection, .actionbar .chancontainer::selection, .actionbar .chan::selection, .infobar::selection, .infobar .chantitle::selection {
    background: none;
}

.actionbar .chanhead {
    font-weight: 500;
    color: rgb(142, 146, 151);
    font-size: 11px;
    pointer-events: none;
    margin-bottom: 0;
}

.actionbar .chanhead::selection, .actionbar .chantitle:hover, .actionbar .chancontainer::selection {
    background: none;
}

.memberbar .memberdesc {
    font-size: 11px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 0;
    color: rgb(126, 129, 134);
    cursor: default;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.memberbar .member {
    width: 220px;
    height: 40px;
    margin-left: 8px;
    margin-top: 10px;
    overflow: hidden;
    background-color: rgb(47, 49, 54);
    border-radius: 4px;
    cursor: pointer;
}

.memberbar .member:hover {
    background-color: rgb(51, 54, 60);
}

.memberbar .member:hover > .membername {
    color: rgb(255, 255, 255);
}

.memberbar .memberbot {
    display: inline-block;
    height: 14px;
    font-size: 10px;
    font-weight: bolder;
    transform: translateY(-12px);
    margin-left: 4px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    background-color: rgb(114,138,218);
    border-radius: 3px;
}

.memberbar .avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: inline-block;
    margin-top: 4px;
    margin-right: 7px;
    margin-left: 4px;
    pointer-events: none;
}

.memberbar .membername {
    display: inline-block;
    font-size: 15px;
    margin: 0;
    transform: translateY(-10px);
    color: rgb(126, 129, 134);
    font-weight: 500;
    pointer-events: none;
    width: 170px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.memberbar .membername.shortbot {
    width: auto;
    max-width: 140px;
}

.memberbar .memberdesc::selection, .memberbar .membername::selection, .memberbar .avatar::selection, .memberbar .member::selection, .memberbar::selection {
    background: none;
}

.mainbox .messagebox {
    display: inline-block;
    position: fixed;
    left: 312px;
    top: 48px;
    bottom: 0;
    right: 240px;
}

.messagebox .fileupload {
    width: 40px;
    height: 35px;
    position: absolute;
    bottom: 20px;
    background-color: rgb(64, 68, 75);
    margin-left: 15px;
    border: none;
    border-right: 2px solid rgb(54, 57, 63);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
    outline: none;
}

.fileupload .fa-plus-circle {
    color: rgb(171, 171, 171);
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    transform: translateY(2px);
    cursor: pointer;
}

.messagebox .fileupload:hover > .fa-plus-circle {
    color: rgb(255, 255, 255)
}

.messagebox .messageinput {
    width: calc(100% - 95px);
    height: 35px;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    box-sizing : border-box;
    margin-left: 15px;
    margin-right: 80px;
    border: none;
    padding: 7px;
    padding-left: 50px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(64, 68, 75);
    resize: none;
    font-family: 'Red Hat Text', 'Noto Color Emoji', 'Noto Emoji', sans-serif;;
    font-size: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.messagebox .sendbutton {
    width: 40px;
    height: 35px;
    background-color: rgb(64, 68, 75);
    position: absolute;
    bottom: 20px;
    border: none;
    margin-left: calc(100% - 80px);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
    z-index: 1;
}

.sendbutton .fa-paper-plane {
    color: rgb(171, 171, 171);
    font-size: 20px;
    width: 12px;
    height: 20px;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
}

.messagebox .sendbutton:hover > .fa-paper-plane {
    color: rgb(255, 255, 255)
}

.messagebox .emojiselect {
    width: 40px;
    height: 35px;
    background-color: rgb(64, 68, 75);
    position: absolute;
    bottom: 20px;
    border: none;
    margin-left: calc(100% - 55px);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
}

.emojiselect .fa-grin {
    color: rgb(171, 171, 171);
    font-size: 20px;
    width: 12px;
    height: 20px;
    margin-left: 2px;
    cursor: pointer;
    transform: translateY(2px);
}

.messagebox .emojiselect:hover > .fa-grin {
    color: rgb(255, 255, 255)
}

.messagebox .inputborder {
    width: calc(100% - 30px);
    position: absolute;
    bottom: 75px;
    height: 0;
    border-bottom: 1px solid rgb(66, 69, 74);
    margin-left: 15px;
}

.messagebox .messageinput::placeholder {
    color: rgb(106, 110, 116);
}

.messagebox .messageinput:focus {
    outline: none;
}

.messagebox .messages {
    height: calc(100% - 75px);
    width: calc(100% - 15px);
    margin-left: 15px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: scroll;
}

.messages .message {
    border-top: 1px solid rgb(66, 69, 74);
    width: calc(100% - 15px);
    margin-right: 15px;
}

.message .msgavatar {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    display: inline-block;
    pointer-events: none;
}

.message .msguser {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    padding: 0;
    transform: translateY(-22px);
    margin-left: 15px;
    cursor: pointer;
}

.message .msguser:hover {
    text-decoration: underline;
}

.message .msgbot {
    display: inline-block;
    height: 14px;
    font-size: 10px;
    font-weight: bolder;
    transform: translateY(-23px);
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    background-color: rgb(114,138,218);
    border-radius: 3px;
}

.message .msgtime {
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    white-space: nowrap;
    padding: 0;
    transform: translateY(-22px);
    margin-left: 6px;
    color: rgb(94, 97, 104);
}

.message .msgbody {
    display: inline-block;
    width: calc(100% - 65px);
    margin-left: 58px;
    transform: translateY(-32px);
    font-size: 12px;
    font-weight: 300;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.msgbody .customemoji {
    width: 25px;
    height: 25px;
    display: inline-block;
    transform: translateY(4px);
}

.msgbody .mention {
    background-color: rgb(61, 65, 79);
    color: rgb(114, 137, 218);
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: auto;
    display: inline-block;
    cursor: pointer;
}

.msgbody .mention:hover {
    background-color: rgb(96, 113, 172);
    color: rgb(255, 255, 255);
}

.msgbody .selfmention {
    color: rgb(114, 137, 218);
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: auto;
    display: inline-block;
    cursor: pointer;
}

.msgbody.selfmention {
    background-color: rgb(75, 68, 59);
    border-left: 4px solid rgb(250, 166, 26);
    border-radius: 3px 0 0 3px;
    padding-left: 3px;
}

.msgbody .selfmention:hover {
    text-decoration: underline;
}

.msgbody .quoteblock {
    display: inline-block;
    height: 16px;
    width: 0;
    border-left: 3px solid;
    border-color: rgb(81, 84, 93);
    transform: translateY(5px);
    margin-right: 4px;
}

.msgbody code {
    font-family: inherit;
    border-radius: 5px;
}

.msgbody pre {
    font-family: inherit;
    word-wrap: break-word;
    white-space: normal;
}

.msgbody .link {
    color: rgb(13, 146, 198);
    padding: 0;
    margin: 0;
    width: auto;
    display: inline-block;
    cursor: pointer;
    max-width: 100%;
}

.msgbody .link:hover {
    text-decoration: underline;
}

.message .imageattachment {
    width: calc(100% - 65px);
    margin-left: 58px;
    transform: translateY(-32px);
    overflow: hidden;
}

.imageattachment img {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 100%;
    min-width: 250px;
    cursor: pointer;
    object-fit: scale-down;
}

.message .attachment {
    padding: 10px;
    max-width: 520px;
    width: calc(100% - 75px);
    transform: translateY(-32px);
    margin-left: 58px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(52, 54, 60);
    border-radius: 5px;
}

.attachment .fa-file-alt {
    font-size: 28px;
    height: 28px;
    width: 28px;
    margin-right: 8px;
    display: inline-block;
}

.attachment .fa-download {
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
}

.attachment p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    color: rgb(23, 120, 160);
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;
    width: calc(100% - 60px);
    cursor: pointer;
    transform: translateY(-6px);
}

.message .embed {
    max-width: 436px;
    width: auto;
    height: auto;
    background-color: rgb(47, 49, 54);
    border-left: 4px solid rgb(255, 255, 255);
    border-radius: 3px 0 0 3px;
    padding-left: 3px;
    border-radius: 6px;
    padding: 10px;
    transform: translateY(-32px);
    margin-top: 20px;
    margin-left: 58px;
    overflow-x: hidden;
}

.embed .provider {
    color: rgb(140, 142, 145);
    font-size: 8px;
    cursor: pointer;
    width: 100%;
    float: left;
}

.embed .provider:hover {
    text-decoration: underline;
}

.embed .author {
    color: rgb(255, 255, 255);
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.embed .author:hover {
    text-decoration: underline;
}

.embed .title {
    color: rgb(0, 176, 244);
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    float: left;
    padding-bottom: 5px;
}

.embed .title:hover {
    text-decoration: underline;
}

.embed .imageattachment {
    height: 250px;
    width: calc(100% - 65px);
    margin-left: 58px;
    transform: translateY(-32px);
}

.embed img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
    object-fit: scale-down;
}

.embed iframe {
    height: auto;
    width: auto;
    max-width: 300px; 
    max-height: 200px;
    border: none;
}

.embed .descrip {
    font-size: 12px;
    color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
}
.descrip .mention {
    background-color: rgb(61, 65, 79);
    color: rgb(114, 137, 218);
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: auto;
    display: inline-block;
    cursor: pointer;
}

.descrip .mention:hover {
    background-color: rgb(96, 113, 172);
    color: rgb(255, 255, 255);
}

.descrip .selfmention {
    color: rgb(114, 137, 218);
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: auto;
    display: inline-block;
    cursor: pointer;
}

.descrip.selfmention {
    background-color: rgb(75, 68, 59);
    border-left: 4px solid rgb(250, 166, 26);
    border-radius: 3px 0 0 3px;
    padding-left: 3px;
}

.descrip .selfmention:hover {
    text-decoration: underline;
}

.descrip .quoteblock {
    display: inline-block;
    height: 16px;
    width: 0;
    border-left: 3px solid;
    border-color: rgb(81, 84, 93);
    transform: translateY(5px);
    margin-right: 4px;
}

.descrip code {
    font-family: inherit;
    border-radius: 5px;
}

.descrip pre {
    font-family: inherit;
    word-wrap: break-word;
    white-space: normal;
}

.descrip .link {
    color: rgb(13, 146, 198);
    padding: 0;
    margin: 0;
    width: auto;
    display: inline-block;
    cursor: pointer;
    max-width: 100%;
}

.descrip .link:hover {
    text-decoration: underline;
}

.message .msgavatar::selection, .message::selection, .messagebox::selection {
    background: none;
}

.messages .spacer {
    height: 20px;
}

.nowrap {
    white-space: nowrap;
}

.blocker {
  display: none;
  position: fixed;
  z-index: 99 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.alertbox {
    display: none;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgb(32, 34, 37);
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    z-index: 99;
}

.alertbox .alerttitle {
    font-weight: bolder;
    font-size: 16px;
    color: rgb(255,255,255);
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.alertbox .alertmsg {
    font-weight: normal;
    font-size: 12px;
    color: rgb(255,255,255);
    margin-bottom: 15px;
}

.alertbox .alertclose {
    font-size: 12px;
    margin-bottom: 10px;
    height: 25px;
    width: 34px;
    border-radius: 4px;
    background-color: rgb(112, 130, 196);
    text-align: center;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    padding-left: 8px;
    padding-right: 10px;
    cursor: pointer;
}

.alertbox .alertclose:hover {
    background-color: rgb(100, 121, 197);
}

.confirmblock {
    display: none;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.contextmenu {
    display: none;
    position: fixed;
    border-radius: 5px;
    background-color: rgb(32, 34, 37);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    z-index: 98;
    width: 120px;
    padding: 6px;
}

.contextmenu .button {
    height: 25px;
    width: 105px;
    border-radius: 5px;
    color: rgb(170, 173, 179);
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 7px;
    cursor: pointer;
}

.contextmenu .button:hover {
    background-color: rgb(100, 121, 197);
    color: rgb(255,255,255);
}

.contextmenu .button::selection {
    background: none;
}

/* ˅˅˅ From https://loading.io/css/ ˅˅˅ */
.lds-roller {
    display: inline-block;
    position: fixed;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* ^^^ From https://loading.io/css/ ^^^ */
